{% extends "layout.html" %}

{% block content %}


<section class="main" >
    <section class="articles">
            <article>
                <h2 class="rigth"> DURAZMOMO </h2>
                <p> Su piel es suave y aterciopelada, con tonos que van desde un melocotón claro hasta un naranja brillante. Tiene una forma redondeada y un tamaño similar al de un niño pequeño. Sus ojos son brillantes y expresivos, con un brillo juguetón que refleja su personalidad amigable.
                    <br>
                    <br>
                    Durazmomo es sorprendentemente ágil y activo. Le encanta saltar y correr, y siempre está listo para jugar con sus amigos. Aunque su cuerpo es suave y delicado, tiene una fuerza sorprendente cuando se trata de actividades físicas.</p>
                <div style="text-align: center;" >
                    <img src="/static/DURAZMOMO.png" width="200px">
                </div>
           </article>
            <article>
                <p>Duraznito es conocido por su dulce aroma a durazno que lo rodea constantemente. Es muy querido por todos en su comunidad y es común verlo dando paseos por los parques o participando en eventos locales. Su presencia ilumina el día de quienes lo rodean, y su amor por la diversión y la aventura lo convierte en una figura querida y entrañable en su mundo hecho de frutas.</p>
            </article>
            <br>
    </section> 
</section> 
{% endblock %}
