{% extends "layout.html" %}

{% block content %}



<section class="main" >
<section class="articles">
        <article>
            <h2 class="centro"> Bienvenido </h2>
            <p>En Centro Veteri-chae, la salud y el bienestar de tus queridas frutillas cupcake no-binarios es nuestra principal prioridad. Desde medicina preventiva hasta diagnóstico avanzado, cirugía especializada y cirugía innovadora mínimamente invasiva, estamos comprometidos a brindarle la mejor atención posible.</p>
            <div style="text-align: center;" >
                <img src="/static/BIENVENIDO.jpg" width="200px">
            </div>
       </article>
        <article>
           <h2 class="centro"> Salud y bienestar de las mascotas: </h2>
            <p>Descubra cómo mantener saludable a su querida frutillas cupcake no-binarios es esencial para su felicidad y vitalidad. En Centro Veteri-chae, nos dedicamos a brindar atención integral a sus adorables mascotas fresas.</p>
        </article>
        <br>
</section> 
</section> 

<aside>
    <h2 class="centro"> DATOS PERSONALES </h2>
    <p><h2>TELEFONOS:</h2> </p>
    <ol type="I">
    <p> <li>(449) 123 4567</li></p>
    <p> <li>(449) 498 6753</li></p>
    </ol>
        <H2>SUCURSALES:</H2>
        <p class="centro"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14805.239831263763!2d-102.28764187566686!3d21.922632481465524!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ee66c314de7d%3A0xdff547d2b8c845ce!2sCentro%20Comercial%20Altaria!5e0!3m2!1ses-419!2smx!4v1707284273814!5m2!1ses-419!2smx" width="388" height="200" style="border: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        local: 25
        <br>
        segundo piso 
    </p>
      
</aside>
<br>
{% endblock %}