<!DOCTYPE html>
<html lang="es">
<head>
<title>Veterinaria</title>
<link rel="stylesheet" href="/static/estilos.css">
</head>
<body>
<header>
   <img src="/static/veterinaria.jpg" width="200px">
   <h1 class="centrado">VETERI CHAE</h1>
</header>

<nav>
    <ul>
        <li><a href="/index">NOSOTROS</a></li>
        <li><a href="/chaefresita">CHAEFRESITA</a></li>
        <li><a href="/durazmomo">DURAZMOMO</a></li>
        <li><a href="/manzanayeon">MANZANAYEON</a></li>
	<li><a href="/contacto">CONTACTO</a></li>

    </ul>
</nav>


{% block content %}
{% endblock %}



<footer>
    <p>© 2024 Gael´s | Todos los derechos reservados.</p>
</footer>
  
</body>
</html>