{% extends "layout.html" %}

{% block content %}



<section class="main" >
    <section class="articles">
            <article>
                <h2 class="rigth"> MANZANAYEON </h2>
                <p> Su cuerpo está formado por capas de manzanas crujientes, con un tono rojizo y amarillento que se entrelazan perfectamente para crear una figura única. Su cabeza redonda está coronada por un tallo verde que se asemeja a un cabello esponjoso. Sus ojos brillan con una mezcla de color verde y dorado.
                    <br>
                    <br>
                    Esta mascota de manzana es conocida por su dulce aroma a frutas frescas que deja a su paso, y su piel está salpicada de pequeñas pecas marrones que le dan un encanto aún mayor. Se mueve con agilidad sobre sus pequeñas patas también formadas por manzanas, y su cola en forma de hoja completa su aspecto encantador.</p>
                <div style="text-align: center;" >
                    <img src="/static/MANZANAYEON.png" width="200px">
                </div>
           </article>
            <article>
                <p>Es común ver a esta adorable criatura en los hogares y jardines, donde se ha convertido en una mascota querida por muchos. Sin duda, esta persona de manzana ha ganado un lugar especial en el corazón de todos.</p>
            </article>
            <br>
    </section> 
</section> 

{% endblock %}